/* @start: Base */
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #e11d48;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  

  
  /* @start: Hero Header */
  .hero-header {
    position: relative;
  }
  
  .hero-header__grid {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
    overflow: hidden;
  }
  
  .hero-header__grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
  }
  
  .hero-header__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .hero-header__title {
    color: var(--color-white);
    font-size: clamp(24px, 3vw, 90px);
    font-weight: 800;
    letter-spacing: -1px;
  }
  
  .hero-header__title span {
    text-decoration: underline;
  }
  
  .hero-header__description {
    color: var(--color-white);
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
  
  /* @start: Cursor */
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 98;
  }
  
  .cursor__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .cursor__circle--small {
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
  }
  
  .cursor__circle--large {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-white);
  }
  
  .cursor-hide {
    display: none;
  }
  